<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/contact" method="POST" class="mb-4">

  <div class="form-group">
    <label for="name">Contact Name</label>
    <input type="text" name="name" class="form-control" required value="dipen">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="phone" name="phone" class="form-control" required value="7878">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" value="dipen@gmail.com">
  </div>
  <input type="submit" value="Add Contact" class="btn btn-primary btn-block">

</form>

<h4>Contact list</h4>
<ul class="list-group">
  {{#each contacts}}
  <li class="list-group-item">
    <input type="checkbox" name="contact_list" value="{{this.id}}" id="{{this.id}}"> {{this.id}} - {{this.name}}:
    {{this.phone}}
    <a href="/api/contact/delete/{{this.id}}"> Delete </a>
  </li>
  {{/each}}
</ul>
<br>
<hr>

<input type="text" name="group_name" id="group_name" class="form-control" required value="office">
<br>
<button class="btn btn-success btn-block" id="create_group"> New Group </button>
<a href="/groups" class="btn btn-block">View all Groups</a>

<br>
<hr>


<script>
  $(document).ready(function () {
    $("#create_group").click(function (e) {
      e.preventDefault();

      var contact_list = [];
      var group_name = $('#group_name').val();

      $.each($("input[name='contact_list']:checked"), function () {
        contact_list.push($(this).val());
      });

      console.log(contact_list, group_name);

      if (contact_list.length > 0 && group_name) {
        var jqxhr = $.post("/create_group", { contact_list, group_name }, function (res) {
          // console.log(res, res.group_name, res.contact_list)
        })
          .done(function (res) {
            console.log(res)
          })
          .fail(function (res) {
            console.log(res)
          })
      } else {
        alert('please select atleat one contact, OR Group name')
      }

    });
  });
</script>